body {
     background-color:#F7F8F9;
}

/* RESET  RULES*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* HEADER */

.main-header{
    height: 80px;
    background-color: white;
    color: #000000;
    font-size: 55px;
    font-weight: 800;

    /* font-family: ;     */
}

.logo{
    width: 70px;
    vertical-align: middle;
    margin: 5px 20px;
    margin-right: 0;
}

.contaienr-logo{
    max-width: 900px;
}


/* MAIN STRUCTURE */

.container-nav {
    width: 800px;
    height: 50px;
    background-color: white;
    margin: 50px auto;
    margin-bottom: 0;
    border-radius: 10px;
}

.container-section {
    width: 800px;
    height: 500px;
    background-color: white;
    margin: 8px auto;
    border-radius: 10px;
}

