body{
background-color:#F7F8F9;
}

/* RESET  RULES*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* HEADER */

.main-header{
    height: 90px;
    background-color: white;
    color: #000000;
    font-size: 45px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.logo{
    width: 80px;
    vertical-align: middle;
    margin-left: 10px;
}

.contaienr-logo{
    max-width: 900px;
    
}

