body {
     background-color:#F7F8F9;
}

/* RESET  RULES*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* HEADER */

.main-header{
    height: 80px;
    background-color: white;
    color: #000000;
    font-size: 55px;
    font-weight: 800;

    /* font-family: ;     */
}

.logo{
    width: 70px;
    vertical-align: middle;
    margin: 5px 20px;
    margin-right: 0;
}

.contaienr-logo{
    max-width: 900px;
}


/* MAIN STRUCTURE */

.search-bar {
    width: 800px;
    height: 60px;
    background-color: white;
    margin: 50px auto;
    margin-bottom: 0;
    border-radius: 10px;
}

.button-holder{
    width: 500px;
    margin: 20px;
    padding: 11px;
    
   
}

.button-task{
    background-color: #46ACF2;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;  
    border-radius: 4px; 
    text-decoration: none;     
    display: inline-block;
    font-size: 12px;
}

.button-section{
    background-color: white;
    border: solid grey;
    color: grey;
    padding: 10px 25px;
    text-align: center;  
    border-radius: 4px; 
    text-decoration: none;     
    display: inline-block;
    font-size: 12px;
}

/* SECTION SHEDULE */

.container-section {
    width: 800px;
    height: 500px;
    background-color: white;
    margin: 8px auto;
    border-radius: 10px;
}

ul { 
    list-style: none;
}

section{
    margin-left: 31px;
    padding-top: 30px;
    line-height: 30px;
}

.green-mark{
    color: green;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: solid green;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    line-height: 20px;


}

.red-mark{
    color: red;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: solid red;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    line-height: 20px;
    


}
